@import "vars";
@import "libs";
@import "fonts";
@import "global";
.header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;
    &__overlay {
        min-height: 790px;
        background-color: rgba($overlay, .85);
        padding-bottom: 80px;
    }
    &__top {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        text-align: right;
        &-number {
            font-weight: 700;
            font-size: 28px;
        }
        &-callback {
            font-size: 16px;
            transition: all .3s;
            &:hover {
                color: $main-hover;
            }
        }
    }
    &__title,
    &__subtitle {
        text-align: center;
    }
    &__title {
        margin-top: 90px;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 400;
    }
    &__features {
        display: flex;
        justify-content: space-between;
        max-width: 660px;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }
    &__feature {
        max-width: 165px;
        &-image {
            min-height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-text {
            font-size: 18px;
        }
    }
    &__buttons {
        margin: 0 auto;
        margin-top: 100px;
        max-width: 620px;
        display: flex;
        justify-content: center;
        text-align: center;
        &-description {
            margin: 0 auto;
            margin-top: 18px;
            max-width: 180px;
        }
    }
    &__buttons-box {
        max-width: 240px;
        width: 100%;
    }
    &__button {
        width: 100%;
    }
    &__buttons-box+&__buttons-box {
        margin-left: 40px;
    }
}

.features {
    padding-top: 80px;
    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        padding: 0 35px;
        margin-bottom: 80px;
        max-width: 300px;
        width: 100%;
        text-align: center;
        &-title {
            margin-top: 25px;
            font-size: 16px;
            font-weight: 700;
            color: $black;
        }
        &-text {
            margin-top: 15px;
        }
    }
    &__item+&__item {
        margin-left: 20px;
    }
}

.detailed-order {
    padding: 75px 0 80px 0;
    background-color: $lighter-gray;
    &__form {
        padding: 60px;
        margin-top: 60px;
        border: 5px solid $white;
        &-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &-row:last-child {
            margin-top: 18px;
        }
        &-column {
            max-width: 240px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        input,
        select,
        textarea {
            padding: 12px 18px;
            margin-top: 8px;
            color: $gray;
            font-family: "Lato", sans-serif;
            font-size: 13px;
        }
        textarea {
            height: 124px;
        }
        input[type="submit"] {
            margin-top: auto;
            font-size: 16px;
            color: $white;
        }
    }
    &__input,
    &__select {
        flex-basis: 65px;
    }
    &__select {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 20px;
            right: 0;
            bottom: 10px;
            background-image: url(../img/triangle-down.png);
            background-repeat: no-repeat;
            background-position: center center;
            border-left: 1px solid $light-gray;
            pointer-events: none;
        }
    }
}

.parts {
    padding-top: 80px;
    &__inner {
        margin: 0 auto;
        margin-top: 40px;
        max-width: 800px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__logo {
        width: 160px;
        text-align: center;
        margin-top: 20px;
        opacity: .6;
        transition: all .3s;
        &:hover {
            opacity: 1;
        }
    }
}

.video {
    padding: 80px 0;
    &__inner {
        margin: 0 auto;
        margin-top: 60px;
        max-width: 820px;
        border: 5px solid $lighter-gray;
        padding: 20px;
    }
}

.reviews {
    padding: 80px 0;
    background-color: $lighter-gray;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 460px;
        margin: 0 auto;
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        &-content {
            padding: 0 20px;
        }
        &-name {
            font-size: 12px;
            font-weight: 700;
            color: $mid-gray;
        }
        &-title {
            font-size: 16px;
            font-weight: 700;
            color: $main;
            padding-top: 10px;
        }
        &-text {
            font-size: 13px;
            color: $dark-gray;
            padding-top: 8px;
        }
    }
}

.consultation {
    padding: 75px 0;
    background-color: $light-gray;
    &__form {
        padding: 60px;
        padding-top: 50px;
        margin: 0 auto;
        margin-top: 60px;
        border: 5px solid $white;
        max-width: 740px;
        &-inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        input {
            padding: 12px 18px;
            margin-top: 8px;
            color: $gray;
            font-family: "Lato", sans-serif;
            font-size: 13px;
        }
        input[type="submit"] {
            margin: 0 auto;
            margin-top: 40px;
            font-size: 16px;
            color: $white;
            max-width: 300px;
        }
    }
    &__input {
        flex-basis: 290px;
        margin-top: 10px;
    }
    &__input+&__input {}
}

.contacts {
    position: relative;
    &__box {
        position: absolute;
        padding: 60px 90px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 480px;
        color: $white;
        background-color: $main;
        text-align: center;
        z-index: 5;
        a {
            color: $white;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
    }
    &__address {
        font-size: 20px;
        margin-top: 34px;
    }
    &__email,
    &__phone {
        display: block;
        margin-top: 22px;
        font-size: 20px;
    }
    &__phone {
        font-weight: 700;
        text-decoration: none;
    }
}

.footer {
    &__inner {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__phone {
        text-align: right;
        &-number {
            font-weight: 700;
            font-size: 28px;
        }
        &-callback {
            font-size: 16px;
            transition: all .3s;
            &:hover {
                color: $main-hover;
            }
        }
    }
}

@import "media";